// light and dark theme classes
.dark-theme {
    --color-background: hsl(207, 26%, 17%);
    --color-text: hsl(0, 0%, 100%);
    --color-element: hsl(209, 23%, 22%);
}

.light-theme {
    --color-background: hsl(0, 0%, 98%);
    --color-text: hsl(200, 15%, 8%);
    --color-element: hsl(0, 0%, 100%);
}

// other variables
$box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

// font import
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--color-text);
}

// base elements

body {
    transition: all .1s linear;
}

a {
    text-decoration: none;
    
    &:visited {
        color: blueviolet;
    }
}

// loading animation and error message classes
.loader {
        margin: 2rem auto;
        border: 1rem solid var(--color-background);
        border-top: 1rem solid var(--color-text);
        border-bottom: 1rem solid var(--color-text);
        border-radius: 50%;
        width: 80px;
        height: 80px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }
    
            100% {
                -webkit-transform: rotate(360deg);
            }
        }
    
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
    
            100% {
                transform: rotate(360deg);
            }
        }
}

.error-msg {
    color: red;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
}

//hide class 
.hidden {
    display: none;
}

// mixins
@mixin flex-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin tablet-screen {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin desktop-screen {
    @media (min-width: 992px) {
        @content;
    }
}