$dark-el: hsl(209, 23%, 22%);
$dark-bg: hsl(207, 26%, 17%);
$light-input: hsl(0, 0%, 52%);
$white: hsl(0, 0%, 100%);
$light-bg: hsl(0, 0%, 98%);
$light-text: hsl(200, 15%, 8%);

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
}

@mixin space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}