.back-btn {
    box-shadow: $box-shadow;
    background-color: var(--color-element);
    color: var(--color-text);
    padding: .75rem 2rem;
    margin: 0 0 2rem 1rem;
    display: flex;
    align-items: center;
    max-width: fit-content;
    cursor: pointer;

    &:visited {
        color: var(--color-text);
    }

    @include desktop-screen {
        margin: 4rem 0 4rem 4rem;
    }

    & svg {
        margin-right: 1rem;
    }
}

.country {
    max-width: 1520px;
    margin: auto;
}

.country__wrapper {
    padding: 1rem;
    margin: auto;
    max-width: 500px;

    @include desktop-screen {
        max-width: 1520px;
        display: flex;
        padding: 0 4rem;
    }
}

.country__flag {
    display: flex;
    justify-content: center;

    @include desktop-screen {
        display: flex;
        justify-content: flex-start;
        flex: 1 1 50%;
    }
}

.country__flag img {
    width: 100%;
    max-width: 500px;
    height: auto;

    @include desktop-screen {
        max-width: 600px;
        max-height: 400px;
    }
}

.country__info {

    @include desktop-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1 1 50%;
        padding-left: 1rem;
    }
}

.country__info-wrapper {
    width: 100%;
    ;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.country__details {
    line-height: 2;

    @include desktop-screen {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
}

.country__borders {
    align-items: center;

    & ul {
        padding-left: .5rem;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
    }

    & li {
        background-color: var(--color-element);
        list-style: none;
        padding: .5rem 1.5rem;
        margin: .5rem .25rem;
        border: 1px solid rgba(0, 0, 0, 0.1);;
        border-radius: 5px;
        box-shadow: $box-shadow;
        cursor: pointer;
    }

    & a:visited {
        color: var(--color-text);
    }

    @include desktop-screen {
        display: flex;
        margin-top: 1rem;
    }

}