header {
    background-color: $white;
    box-shadow: $box-shadow;
}

.header-content {
    @include space-between;
    max-width: 1440px;
    padding: 0 1rem;
    margin: auto;
}

.dark-mode-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;

    & svg {
        margin: 0 .75rem 0 0;
    }
}
