body {
    background-color: var(--color-background);
}

.homepage {
    font-size: 14px;
}

.homepage__main {
    font-size: 14px;
    max-width: 1440px;
    margin: auto;
    padding: 0 1rem;

    @include desktop-screen {
            padding: 0 4rem;
        }
}

form {
    display: flex;
    flex-direction: column;
    position: relative;

    @include desktop-screen {
            @include flex-space-between;
        }

    & svg {
        fill: var(--color-text);
        position: absolute;
        left: 20px;  
        top: 20px;
    }
}

input {
    background: var(--color-input);
    border: #fff;
    border-radius: 5px;
    box-shadow: $box-shadow;
    padding: 1rem 2.5rem;
    margin-bottom: 2.25rem;

    @include desktop-screen {
        width: 600px;
    }
}

input::placeholder {
    color: var(--color-text);
}

select {
    width: 200px;
    background-color: var(--color-input);
    border-color: #fff;
    border-radius: 5px;
    box-shadow: $box-shadow;
    padding: 1rem;
    margin-bottom: 2.25rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    @include tablet-screen {
        justify-content: space-between;
    }
}

.container__item {
    background-color: var(--color-element);
    color: var(--color-text);
    border-radius: 5px;
    margin-bottom: 3rem;
    padding-bottom: 2.5rem;
    box-shadow: $box-shadow;
    max-width: 300px;
}

.container__flag {
    max-height: 200px;
    max-width: 300px;
    border-radius: 5px 5px 0 0;
}

.container__text {
    margin-left: 1.5rem;
}